/* src/assets/styles/global.css */

/* Variables CSS para toda la aplicación */
:root {
    --color-primary: #556B2F; /* Verde Oliva Oscuro */
    --color-dark-coffee: #2E1F18; /* Café Muy Oscuro */
    --color-tostado: #5C4A3C; /* Café Tostado */
    --color-gold: #FFD700; /* Dorado */
    --color-background: #F5F5DC; /* Beige Claro */
}

/* Estilos base del body */
body {
    background-color: var(--color-background);
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Comportamiento de scroll suave */
html {
    scroll-behavior: smooth;
}
