/* Estilos globales y paleta de colores del proyecto  */
:root {
  --color-principal: #2E1F18; /* Café oscuro */
  --color-secundario: #5C4A3C; /* Tostado oscuro */
  --color-acento: #E67E22; /* Naranja brillante */
  --color-texto-principal: #4A3A2F; /* Marrón cálido */
  --color-texto-secundario: #999999; /* Gris */
}

/* Estilos para el cuerpo de la página */
body {
    font-family: 'Arial', sans-serif;
  background-color: #f8f9fa; /* Un color de fondo claro que complementa el café */
}

/* Encabezado */
header {
    background-color: var(--color-principal);
    padding: 1rem 0;
    border-bottom: 2px solid var(--color-acento);
}

.navbar .nav-link {
    color: #fff; /* Color de texto blanco para los enlaces de la barra de navegación */
}

.navbar .nav-link:hover {
    color: var(--color-acento); /* Naranja al pasar el mouse */
}

/* Carrusel */
.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/* Secciones principales y tarjetas */
.seccion-productos, .seccion-banner {
    padding: 3rem 0;
}

.card {
    border: 1px solid var(--color-secundario);
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card-title {
    color: var(--color-texto-principal);
    font-weight: bold;
}

.card-text {
    color: var(--color-texto-secundario);
}

.btn-primary {
    background-color: var(--color-acento);
    border-color: var(--color-acento);
}

.btn-primary:hover {
    background-color: darken(var(--color-acento), 10%); /* Oscurecer el naranja al pasar el mouse */
    border-color: darken(var(--color-acento), 10%);
}

/* Banner */
.banner-promocional {
    background-color: var(--color-acento);
    color: #fff;
    padding: 2rem;
    text-align: center;
}

/* Pie de página */
footer {
    background-color: var(--color-principal);
    color: #fff;
    padding: 2rem 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: var(--color-acento);
}

/* Estilos del botón de envío */
.btn-enviar {
    background-color: #b2a298; /* Un tono de marrón más claro */
    border-color: #b39f93;
    color: rgb(80, 58, 58); /* Texto blanco para un alto contraste */
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-enviar:hover,
.btn-enviar:active {
    background-color: var(--color-texto-principal); /* Marrón cálido (más oscuro) al pasar el cursor */
    border-color: var(--color-texto-principal);
    transform: translateY(-2px);
}