/* Estilos Globales y Variables */
:root {
    --color-principal: #2E1F18; /* Café oscuro */
    --color-acento: #556B2F; /* Verde musgo */
    --color-texto-claro: #F5F5DC; /* Fondo beige claro */
    --color-secundario: #435427; /* Verde más oscuro para hover */
}

body {
    background-color: var(--color-texto-claro);
    font-family: Arial, sans-serif;
}

/* NAVBAR y Carrito */
.bg-custom-dark {
    background-color: var(--color-principal) !important;
}

.navbar a.nav-link {
  color: var(--color-texto-claro) !important;
  transition: color 0.3s ease;
}

.navbar a.nav-link:hover {
  color: #DCCCA3 !important; /* Un color de acento para el hover */
}

/* Estilos para el panel del carrito */
.carrito-panel {
    position: fixed;
    top: 0;
    right: -400px;
    width: 350px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
}

.carrito-panel.open {
    right: 0;
}

.carrito-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#total-carrito {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-principal);
}

#cerrar-carrito {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--color-principal);
    cursor: pointer;
}

#lista-carrito .list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border: none;
    padding: 10px 0;
}

/* Estilos de botones */
.btn-custom {
    background-color: var(--color-acento);
    color: white;
    border: none;
}

.btn-custom:hover {
    background-color: var(--color-secundario);
    color: white;
}

/* Carrusel de productos */
.carrusel-container {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.carrusel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
}

.carrusel-btn {
    z-index: 100;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: var(--color-principal);
    color: var(--color-texto-claro);
    border: none;
    transition: background-color 0.3s;
}

.carrusel-btn:hover {
    background-color: var(--color-acento);
}

/* Card de productos */
.card-title, .card-text {
    color: var(--color-principal);
}